<h1>Profile Page for <%= current_user.name %></h1>

<h2>My Created Events:</h2>

<% unless current_user.events.empty? %>
	<ul>
	<% current_user.events.each do |event| %>
		<li><%= event.date.to_formatted_s(:long_ordinal) %>	|	<%= event.name %></li>
		<%= link_to "Details", event %>
	<% end %>
	</ul>
<% end %>

<%= link_to "Make a New Event", new_event_path %>

<h2>Events to Attend:</h2>

<% if current_user.attended_events.empty? %>
	<p><strong>No events to attend.</strong></p>
<% end %>

<ul>
<% current_user.attended_events.each do |attended_event| %>
	<li><%= attended_event.name %></li>
<% end %>
</ul>