<h1>Profile Page for <%= current_user.name %></h1>

<h2>My Created Events:</h2>

<% unless current_user.events.empty? %>
	<ul>
	<% current_user.events.each do |event| %>
		<li><%= event.date.to_formatted_s(:long_ordinal) %>	|	<%= event.name %></li>
		<%= link_to "Details", event %>
	<% end %>
	</ul>
<% end %>

<%= link_to "Make a New Event", new_event_path %>

<h2>Upcoming Events:</h2>
<% if upcoming_events.empty? %>
	<p><strong>No upcoming events.</strong></p>

<% else %>
	<% upcoming_events.each do |event| %>
		<li><%= event.date.to_formatted_s(:long_ordinal) %> | <%= event.name %></li>
	<% end %>
<% end %>

<h2>Previously Attended Events:</h2>
<% if prev_events.empty? %>
	<p><strong>No previously attended events.</strong></p>

<% else %>
	<% prev_events.each do |event| %>
		<li><%= event.date.to_formatted_s(:long_ordinal) %> | <%= event.name %></li>
	<% end %>
<% end %>